.panel-body table td div {
 	white-space: pre-wrap;
    word-wrap: break-word;
    border: 0;
    background-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}